$width: 800px;
$height: 480px;
$widthMention: 320px;
$title: 38px;
.welcome__swiper--cover
    position: absolute;
    width: $width;
    height: $height;
    background-color: #379266;
.welcome__swiper
    position: absolute;
    height: $height;
    background: #ffffff;
    transition: width 1s;
.welcome__swiper--left
    width: $height;
    left: 0px;
.welcome__swiper--right
    width: 0px;
    right: 0px;
.welcome__mention
    position: absolute;
    width: $widthMention;
    height: $height;
    color: #ffffff;
    right: 0px;  
    .welcome__mention--title
        height: $title * 2;
        line-height: $title * 2;
        margin: 0 auto;
        margin-top: $title* 3;
        text-align: center;
        font-size: $title;
    .welcome__mention--subtitle
        height: $title * 2;
        width: $title * 4;
        line-height: 150%;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        font-size: $title / 3.5;
.welcome__mention--regist-enter 
  opacity: 0;
.welcome__mention--regist-enter-active 
  opacity: 1;
  transition: opacity 1000ms;
.welcome__mention--regist-exit 
  opacity: 1;
.welcome__mention--regist-exit-active 
  opacity: 0;
  transition: opacity 1000ms;
.welcome__mention--login-enter 
  opacity: 0;
.welcome__mention--login-enter-active 
  opacity: 1;
  transition: opacity 1000ms;
.welcome__mention--login-exit 
  opacity: 1;
.welcome__mention--login-exit-active 
  opacity: 0;
  transition: opacity 1000ms;
.welcome__begin--container 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: $width;
    height: $height;
    top: 50%; 
    margin-top: -$height / 2;
    background-color: #f4f4f4;
    .welcome__begin--box
        position: relative;
        width: $width;
        height: $height;
        background-color: #ffffff;
        border-radius:  $height/20;
        overflow: hidden;     
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
