$green: #2AF598;
$grey: #DEDEDE;
$width: 200px;
$height: 25px;
.input_box
    position: relative;
    display: block;
    width: $width;
    height: $height * 2;
    margin: 0 auto;     
    .input_label
        text-align: left;
        padding-bottom: 7px;
        font-size: 18px;
        transition: font-size 0.5s;
    .input
        position: relative;
        width: $width;
        height: $height;
        border: 2px solid $grey; 
        border-radius: 7px;
        outline: none;
        padding: 0 5px;
        font-size: 15px;
.input_box_focus
    position: relative;
    display: block;
    width: $width;
    height: $height * 2;
    margin: 0 auto;
    .input_label_focus
        text-align: left;
        padding-bottom: 7px;
        font-size: 20px;
        transition: font-size 0.5s;
    .input_focus
        position: relative;
        width: $width;
        height: $height;
        border: 2px solid $green; 
        border-radius: 7px;
        outline: none;
        padding: 0 5px;