.Regist__swiper--cover
    position: absolute;
    width: 1000px;
    height: 600px;
    background-image: linear-gradient(225deg, #08eadd 0%, #2AF598 100%);
.Regist__swiper--left
    position: absolute;
    width: 600px;
    height: 600px;
    background: #ffffff;
    transition: width 1s;
.Regist__swiper--right
    position: absolute;
    width: 0px;
    height: 600px;
    right: 0px;
    background: #ffffff;
    transition: width 1s;
.Regist__mention
    position: absolute;
    width: 400px;
    height: 600px;
    color: #ffffff;
    right: 0px;  
    .Regist__mention--title
        height: 100px;
        line-height: 100px;
        margin: 0 auto;
        margin-top: 150px;
        text-align: center;
        font-size: 50px;
    .Regist__mention--subtitle
        height: 100px;
        width: 220px;
        line-height: 150%;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        font-size: 17px;
.Regist__box
    position: absolute;
    width: 500px;
    height: 600px;
    right: 500px;
    .Regist__label
        height: 100px;
        line-height: 100px;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
        font-size: 50px;
    .Regist__form
        .Regist__item
            text-align: center;
            margin: 20px auto;
