$width: 200px;
$itemHeight: 30px;
$fontMain: 18px;
$green: #379266;
$paddingTop: 10px;
$marginLeft: 10px;
$lightGreen: #3bc481;
.nav__Container
    height: 100%;
    width: $width;
    background-color: $green;
    .nav__icon
        width: $width;
        height: $itemHeight * 3;
    .nav__items
        position: absolute;
        width: $width;
        margin-top: 20px;
        margin-left: $marginLeft;
        .nav__item
            text-align: center;
            height: $itemHeight;
            width: $width - $marginLeft;
            line-height: $itemHeight;
            color: white;
            cursor: pointer;
            font-size: $fontMain;
            padding: $paddingTop 0;
            border-radius: ($itemHeight + $paddingTop * 2) /2 0 0 ($itemHeight + $paddingTop * 2) /2;
            &:hover
                background-color: white;
                color: $green;