.button
    width: 140px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 2px solid white;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
.button-hollow
    border-radius: 15px;
    border: 2px solid white;
.button-fill
    background-color: #379266;
    color: #ffffff;