$green: #a2d895;
$width: 140px;
$smallWidth: 100px;
$largeWidth: 180px;
.button
    vertical-align: middle;
    border: 2px solid white;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
.button-hollow
    border: 2px solid white;
.button-fill
    background-color: $green;
    color: #ffffff;
.button-hollow-fill
    background-color: #ffffff;
    border: 2px solid $green;
    color: $green;
    height: 29px;
    line-height: 26px !important;
.button-small
    width: $smallWidth;
    line-height: 30px;
    font-size: 15px;
.button-middle
    width: $width;
    line-height: 30px;
    font-size: 17px;
.button-large
    width: $largeWidth;
    line-height: 30px;
    font-size: 19px;