*{ 
    margin:0;padding:0;  outline: 0;  vertical-align: baseline; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html,body{ 
    color:rgba(0,0,0,.65); 
    background:#fff; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    width:100%;
}
input,select,button{ 
     font-size:100%;
     outline:0;
     vertical-align:middle;
     -webkit-appearance: none;
 }
button{
    border: 0;
    background-clip: padding-box;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
ol,ul,li { list-style:none;}
/* 定义图片边框，当图片作为链接内容被填充时，会有默认边框出现，重定义掉 */
img{ 
     border:none;
     vertical-align:baseline;
}

/* 标签属性，textarea,input 强制输入时内容超出时换行，打断 */
textarea,input{ 
    word-wrap:break-word; 
    word-break:break-all; 
} 
span,p,div{ 
    word-wrap:break-word;
} 
.lf{ float:left; }
.rt{ float:right; }
.clearfix{ content: ''; display: block; clear: both; }
/* 其它 */
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}
#root {height: 100%}